&spi4 {
	status = "okay";
	cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi4_default>;
	sdhc0: sdhc@0 {
			compatible = "zephyr,sdhc-spi-slot";
			reg = <0>;
			status = "okay";
			mmc {
				compatible = "zephyr,sdmmc-disk";
				status = "okay";
			};
			spi-max-frequency = <1000000>;
	};
};
